body {
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 40px;
    margin-left: 85px;
}

div ul a {
    font-size: 30px;

}

.container {
    margin-left: 85px;
    display: inline-block;
}

/* Fish Tacos */

button {
    font-size: 25px;
    
}