* {
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 40px;
}

ul a {
    font-size: 30px;
    text-decoration: none;
}

.recipes-links {
    padding-inline-start: 0px;
    display: inline-block;
}

.link2, .link3 {
    margin-top: 5px;
}

/* Fish Tacos */

.div {
    display: inline-block;
}

.next.div {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

.home.div {
    margin-left: 30px;
    margin-top: 20px;
}

.home.div.end {
    margin-bottom: 20px;
}

.next.div.end {
    margin-bottom: 20px;
}

button {
    font-size: 20px;
    background-color: #8b0000;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 23px;
    padding-right: 23px;

}

p {
    font-size: 25px;
    margin-left: 85px;
    margin-right: 85px;
}

li {
    font-size: 25px;
    margin: 0 auto;
    max-width: 1250px;
}

h3 {
    font-size: 30px;
    margin-left: 85px;
}

img {
    display: block;
    margin-left: 86px;
    height: auto;
    width: 600px;
    
}


figcaption {
    font-style: italic;
    text-align: center;
}

/* Birria Tacos */

/* Chicken Tacos */





