body {
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 40px;
    margin-left: 85px;
}

div ul a {
    font-size: 30px;

}

.container {
    margin-left: 85px;
    display: inline-block;
}

/* Fish Tacos */

.div {
    display: inline-block;
}

.next.div {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

.previous.div {
    margin-left: 30px;
    margin-top: 20px;
}

.previous.div.end {
    margin-bottom: 20px;
}

.next.div.end {
    margin-bottom: 20px;
}

button {
    font-size: 25px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;

}

p {
    font-size: 25px;
    margin-left: 85px;
    margin-right: 85px;
}

li {
    font-size: 25px;
    margin-left: 85px;
    margin-right: 85px;
    max-width: 1250px;
}

h3 {
    font-size: 30px;
    margin-left: 85px;
}

.image {
    display: block;
    margin-left: 86px;
}

.second.image {
    margin-left: 57px;
}




